{% extends "layouts/dashboard.html" %}
{% from "macros/_forms.html" import form_card %}
{% from "macros/_fields.html" import input %}
{% block title %}Principal{% endblock %}
{% block dash %}
{% call form_card(form=form,action=request.path,title='Usuario',url_cancelamento=url_for('core.novo_usuario'))  %} 
<div class="col-12 container-fluid">
   <div class="row">
      <div class="col-md-12 col-lg-4 col-xl-1 text-center">
        {{input(form.active)}}
      </div>
      <div class="col-md-12 col-lg-4 col-xl-4">
        {{input(form.nome_completo)}}
      </div>
      <div class="col-md-12 col-lg-4 col-xl-2">
          {{input(form.username)}}
      </div>
      <div class="col-md-12 col-lg-4 col-xl-2">
        {{input(form.email)}}
      </div>
      <div class="col-md-12 col-lg-4 col-xl-3">
        {{input(form.email_confirmacao)}}
      </div>
   </div>
   <div class="row mt-2">
      <div class="col-md-12 col-lg-4 col-xl-12 mt-3 mb-3">
        {{input(form.roles)}}
      </div>
  </div>
</div>
{% endcall %}
{% endblock %}
{% block js_dash %}

{% endblock %}
